<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile - StarGO</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <style>
        /* สไตล์สำหรับเมนูด้านข้างที่ถูกเลือก (active) */
        .sidebar-nav .nav-link.active {
            background-color: #FFF3CD;
            font-weight: bold;
            color: #333;
        }
        /* ปุ่มสีเหลืองที่ hover จะเข้มขึ้นเล็กน้อย */
        .btn-custom {
                background-color: #FFBC00;
                color: #000; /* ตัวอักษรสีดำ */
                transition: background-color 0.3s, transform 0.2s;
            }
    
            .btn-custom:hover {
                color: #000;
                text-decoration: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
    </style>
    
</head>

<body style="padding-top: 100px;">
    {% if perms.app.delete_celebrities %}
        {% include 'nav_admin.html' %}
    {% else %}
        {% include 'nav.html' %}
    {% endif %}

    <!-- * ======== ส่วนเนื้อหาหลัก ======== -->
    <div class="container my-5">
        <!-- * 1. สร้างแถว (Row) หลักขึ้นมา -->
        <div class="row">

            <!-- * 2. สร้างคอลัมน์ด้านซ้าย (Sidebar) - กำหนดให้กว้าง 3/12 ส่วน -->
            <div class="col-md-3 border-end">
                <div class="sidebar-nav">
                    <!-- * ใช้ Nav Component ของ Bootstrap เพื่อสร้างเมนู -->
                    <!-- <div class="nav flex-column nav-pills">
                        <a href="./settings.html" class="nav-link text-dark fs-5 mb-2">Edit Profile</a>
                        <a href="./settingsChangePassword.html" class="nav-link text-dark fs-5 mb-2 active">Change Password</a>
                        <a href="./settingsDeleteAccount.html" class="nav-link text-dark fs-5 mb-2">Delete Account</a>
                    </div> -->
                    {% include 'nav_profile.html' with active_page='profile_changepassword' %}
                </div>
            </div>

            <!-- * 3. สร้างคอลัมน์ด้านขวา (Main Content) - กำหนดให้กว้าง 9/12 ส่วน -->
            <div class="col-md-9">
                <!-- * สร้างแถวซ้อนข้างในอีกที เพื่อแบ่งฟอร์มกับรูปภาพ -->
                <div class="row align-items-center p-3">
                    <!-- * คอลัมน์สำหรับฟอร์ม -->
                    <div class="col-md-8">
                        <h2 class="fw-bold mb-4">Change Password</h2>
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="mb-3">
                                <label for="oldPassword" class="form-label fs-5">Old Password</label>
                                <!-- <input type="text" class="form-control form-control-lg bg-light" id="oldPassword"> -->
                                {{form.old_password}}
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label fs-5">New Password</label>
                                <!-- <input type="text" class="form-control form-control-lg bg-light" id="newPassword"> -->
                                {{form.new_password1}}
                            </div>
                            <div class="mb-3">
                                <label for="confirmNewPassword" class="form-label fs-5">Confirm New Password</label>
                                <!-- <input type="text" class="form-control form-control-lg bg-light" id="confirmNewPassword"> -->
                                {{form.new_password2}}
                            </div>
                            <button type="submit" class="btn btn-lg mt-4 btn-custom" style="background-color: #FFBC00;">Confirm</button>
                            <!-- {{form.as_p}} -->
                            {% if messages %}
                            <div class="m-3">
                                {% for message in messages %}
                                    <p class="text-success">{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>

</html>